# Node
SweepstakesBackend/node_modules/
SweepstakesBackend/balances.json
SweepstakesBackend/users.json

# Unity generated
SweepstakesFrontend/ZeroDaySlots/.vs/
SweepstakesFrontend/ZeroDaySlots/Library/
SweepstakesFrontend/ZeroDaySlots/Temp/
SweepstakesFrontend/ZeroDaySlots/Logs/
SweepstakesFrontend/ZeroDaySlots/obj/
SweepstakesFrontend/ZeroDaySlots/Build/
SweepstakesFrontend/ZeroDaySlots/*.csproj
SweepstakesFrontend/ZeroDaySlots/*.sln
